h1 Test

form#test(action='/courses/#{course._id}/test', method='post')
  input(type='hidden', name='_method', value='PUT')
  each question in course.test
    #question
      p= question.question
      #answers
        each answer in question.answers
          #answer
            input(type='radio', name=question.question, value=answer)
            span= answer
  button.submitTest Submit Test
