h1.testTitle Test

form#test(action='/courses/#{course._id}/test', method='post')
  input(type='hidden', name='_method', value='PUT')
  - var count = 1
  each question in course.test
    div.question.hidden(class='question#{count++}')
      h2= question.question
      #answers
        each answer in question.answers
          .answer
            input.answer(type='radio', name=question.question, value=answer)
            span.answerText= answer
      button.next Next
      button.hidden.submitTest Submit Test
